[2016-03-17 16:37] ThibaultKlein opened #2 "Have Expiry class handle MM/YY format"
Currently the Expiry class needs a `MM/YYYY` format, can we have it handle `MM/YY`?

[2016-03-17 16:39] Haud commented on #2
Can you elaborate?

[2016-03-17 16:42] ThibaultKlein commented on #2
In Expiry class the convenient init says:

[code]

I want to pass a `MM/YY` format instead.

[2016-03-17 16:45] Haud commented on #2
Check out my PR which releats to refactoring Expiry:

https://github.com/prolificinteractive/Caishen/pull/1

You should be able to pass in a two-digit number and it will automatically parse it out.

[2016-03-17 19:56] Haud commented on #2
@ThibaultKlein This format should be handled. Our unit tests cover the case of `MM/yy`. Can you give me an example or something not working?

[2016-03-17 20:30] MichaelCampbell opened #3 "The tappable area in a CardNumberTextField is too small to tap into"
To Reproduce:

If you try to tap into the CardNumberTextField, the tap area is too small. You have to tap right beside the card image (probably less than 10 points away) to get it working.

[2016-03-17 20:44] MichaelCampbell opened #4 "No AttributedPlaceholder for CardNumberTextField"
There doesn't appear to be a way to set an attributedPlaceholder for CardNumberTextField

[2016-03-17 20:51] ThibaultKlein commented on #2
I just read the code and didn't find `MM/YY` in the documentation which is why I created this issue. If your unit tests cover this format you can close this issue. :+1:

[2016-03-17 21:02] #2 closed

[2016-03-17 21:22] DannyVancura commented on #4
Thanks! This pull request should fix that: [#5](https://github.com/prolificinteractive/Caishen/pull/5)

[2016-03-17 21:23] DannyVancura commented on #3
Thanks! That's indeed a bug when missing a placeholder. [This PR](https://github.com/prolificinteractive/Caishen/pull/5) should fix it.

[2016-03-22 22:48] MichaelCampbell opened #7 "CardNumberTextField delegate not passing CardValidationResult until all fields are filled"
In the delegate function:
[code]
the CardValidationResult is only set once the CC number, expiration date and CVC code are set. The expected result is that the CardValidationResult will raise issues as they come up with every keystroke.

For example, if i am entering a CC number and enter 1111-11, on the next tap of 1, I expect that CardValidationResult will not be nil, because the text color chan

[2016-03-23 16:10] MichaelCampbell commented on #4
It does, thanks!

[2016-03-23 16:10] #4 closed

[2016-03-23 16:11] MichaelCampbell commented on #3
It does, thanks!

[2016-03-23 16:11] #3 closed

[2016-03-23 16:47] MichaelCampbell opened #8 "CardValidationResult { } characters in description"
Currently there is no way to get plain text error messages from a `CardValidationResult`. The results are put into a JSON like structure, as seen in the following image.

![Card Validation Result](https://www.dropbox.com/s/x6y3icf37m2w4ql/Screenshot%202016-03-23%2012.34.54.png?raw=1)

Would it be possible to have a function or property that returns an array of strings, or update `description` to r

[2016-03-23 23:55] Haud commented on #8
Please see #9 for a fix.

[2016-03-23 23:55] Haud commented on #7
Please see #9 for a fix.

[2016-03-24 20:46] MichaelCampbell commented on #8
works well, thanks for the fix

[2016-03-24 20:46] #8 closed

[2016-03-24 20:47] MichaelCampbell commented on #7
works well, thanks for the fix

[2016-03-24 20:47] #7 closed

[2016-03-24 22:09] MichaelCampbell opened #11 "Stretched AttributedPlaceholder text on rotate to landscape"
There appears to be an issue with the attributed placeholder text after rotating to landscape. The text appears stretched.

Portrait:
![portrait](https://www.dropbox.com/s/tjb2js6w2yjlnuc/Simulator%20Screen%20Shot%20Mar%2024%2C%202016%2C%206.01.41%20PM.png?raw=1)

Landscape:
![landscape](https://www.dropbox.com/s/ugasczq5y44891x/Simulator%20Screen%20Shot%20Mar%2024%2C%202016%2C%206.01.51%20PM.png?

[2016-03-24 22:14] MichaelCampbell opened #12 "Customizable credit card image insets"
Is there a way to customize the credit card image insets?

![custom credit card image insets](https://www.dropbox.com/s/v20uieiygel00i8/Simulator%20Screen%20Shot%20Mar%2024%2C%202016%2C%206.01.51%20PM%20custom%20image%20insets.png?raw=1)

[2016-03-28 19:09] JamesJSY opened #14 "Expiration date: number goes red when it should not"
![screen shot 2016-03-28 at 12 08 28 pm](https://cloud.githubusercontent.com/assets/5505758/14087245/d4179966-f4dd-11e5-88ff-8b75c06e4709.png)

[2016-03-28 19:16] JamesJSY opened #15 "Not able to proceed to CVC automatically when inserting numbers at the end of expiration date"
To reproduce:

1. Input a card number and input expiration date
2. The cursor should now be at the CVC section
3. Do a delete then the cursor should be at the end of expiration date
4. Input a number. Nothing happens.

Expected: such number appears in CVC section.

What happens:
![screen shot 2016-03-28 at 12 15 25 pm](https://cloud.githubusercontent.com/assets/5505758/14087426/dad742fa-f4de-11e5-

[2016-03-28 23:21] #14 closed

[2016-03-29 19:48] #15 closed

[2016-03-29 20:48] DannyVancura commented on #12
Added a PR to address this request: [#22](https://github.com/prolificinteractive/Caishen/pull/22)

[2016-03-30 22:05] ThibaultKlein opened #24 "Handle China Union Pay card type in Caishen"
It's a pretty popular credit card type, it would be nice to integrate it by default in Caishen instead of having to create a custom card type all the time we need it.

[2016-03-31 00:00] JamesJSY commented on #24
https://github.com/prolificinteractive/Caishen/pull/25

[2016-04-05 22:37] DannyVancura opened #38 "Docset"
The documentation coverage on the [Docset](http://cocoadocs.org/docsets/Caishen/1.0.0/) should be much higher.

There should be more comments throughout the whole project in proper [Swift Markup Syntax](https://developer.apple.com/library/ios/documentation/Xcode/Reference/xcode_markup_formatting_ref/index.html#//apple_ref/doc/uid/TP40016497).

[2016-04-06 14:04] hkellaway opened #39 "Add support for Carthage"

[2016-04-06 14:05] hkellaway commented on #39
Let me know if someone has already started or will start this - otherwise I'll go at it

[2016-04-06 14:06] hkellaway opened #40 "Add support for SPM"

[2016-04-06 14:06] hkellaway commented on #40
Let me know if someone has already started or will start this - otherwise I'll go at it

[2016-04-07 19:15] DannyVancura commented on #12
Closing this issue, since [it's solved.](https://github.com/prolificinteractive/Caishen/pull/22#issuecomment-205868296)

[2016-04-07 19:15] #12 closed

[2016-04-07 22:37] MichaelCampbell opened #42 "Random background image around card"
There appears to be a random shadow image around the credit card.
![background image](https://www.dropbox.com/s/huiyjenw18l0oog/Screenshot%202016-04-07%2018.35.25.png?raw=1)

This may be related to #12

[2016-04-07 23:06] DannyVancura commented on #42
Thanks for pointing that out - didn't notice that yet!
When you set the text field's background color, this color will currently also be set for the image view's background. The image view itself got a shadow in #35 which is what you see here as the shadow is drawn below this white layer.
This gets problematic, especially when the view constraints are changed to inset the image view ( #12 ), as th

[2016-04-08 22:06] hkellaway commented on #39
see PR #44

[2016-04-19 13:00] mohammad19991 opened #48 "Language support RTL?"

[2016-04-19 17:40] DannyVancura commented on #48
Hi, thank you for pointing this out! To support RTL languages properly, do the following changes sound sufficient?
- Show the card type image on the right of the text field
- Show the card number (right-aligned) next to the card image
- When the number has been entered, shrink the text field to display only the last four digits to the left of the card type image and slide in [CVC , YY/MM] from the

[2016-04-20 23:31] #42 closed

[2016-04-21 11:50] mohammad19991 commented on #48
it is sufficient, image should be on the right and text entry starts from right to left.

[2016-04-21 18:59] DannyVancura commented on #39
Resolved with #44

[2016-04-21 18:59] #39 closed

[2016-04-25 23:55] DannyVancura commented on #48
I added a PR to tackle this issue: #50

[2016-04-26 09:05] mohammad19991 commented on #48
@DannyVancura thanks

[2016-04-26 17:20] #24 closed

[2016-04-26 17:20] #11 closed

[2016-04-27 11:18] hkellaway commented on #40
we can reopen when SPM supports ios

[2016-04-27 11:18] #40 closed

[2016-04-27 16:57] MichaelCampbell opened #52 "Caishen - IQKeyboardManagerSwift"
Currently, I am using Caishen and IQKeyboardManager to move between text fields on a custom payment view screen. Generally it works pretty well, but for some reason i can’t get it to work when moving from a regular `UITextField` to a `CardTextField`, and vice versa.

Based on a quick glance, it appears that `CardTextField` rejects `becomeFirstResponder. Is it possible for someone to take a look?

[2016-04-27 17:33] DannyVancura commented on #52
I added a PR to make a `CardTextField` selectable via IQKeyboardManager: #53

`CardTextField` itself contains subviews, which still causes one problem: Only text fields within a single view are considered by IQKeyboardManager, meaning that you can only switch back and forth between the subviews of `CardTextField`, but not the ones outside of it for example.
So stepping in and out of a `CardTextFie

[2016-04-27 21:51] ThibaultKlein opened #54 "China Union Pay card number validation not working"
Hey,

I tried to use a China Union Pay credit card number but Caishen keeps telling me it's an invalid number. Here is the number I used: 6240008631401148
Source: https://support.cybersource.com/cybskb/index?page=content&id=C1357&actp=RSS

Could you test on your end and let me know if you are experiencing the same issue?
I'm using Caishen 1.1.0.

Thanks!

[2016-04-27 22:26] #38 closed

[2016-04-27 22:48] DannyVancura commented on #54
Hi,
The PR for this was merged post 1.1.0.
China Union Pay is now available in version 1.2.0!

[2016-04-27 22:48] #54 closed

[2016-04-28 16:28] #52 closed

[2016-05-04 13:42] ThibaultKlein opened #55 "How to get the swipe animation programmatically?"
Hi,

I noticed that when you entered a valid credit card number, exp date and CVV and you go back to the credit card field, exp date and CVV fields disappear. One way to see them again is to swipe in the text field, but I'd like to programmatically trigger the same animation when the card number text field becomes first responder. Any ideas on how to do that?

Thanks!

[2016-05-04 17:59] ThibaultKlein opened #56 "Allow to disable Luhn test for a custom card type"
Hi,
Would it be possible to have the option to disable Luhn test in a custom card type? Some cards don't require this validation but Caishen doesn't allow this functionality currently.

I would suggest to create a boolean in `CardType` that is checked before Luhn test is applied.

Thanks!

[2016-05-04 18:04] DannyVancura commented on #56
Hi,
`CardType` contains the method `public func validateNumber(cardNumber: Number)` which has a default implementation in a protocol extension:

[code]

If you implement this for your card type without the Luhn test, it should work:

[code]

[2016-05-04 18:10] DannyVancura commented on #55
Hi,
these methods are currently internal to Caishen.
You can, however, access them by calling the selectors directly via
[code]
[code]
[code]
[code]

**Note**: The `moveNumberFieldLeft` and `moveNumberFieldLeftAnimated` functions will only perform the change if the card number has been entered and is valid.

[2016-05-04 18:12] ThibaultKlein commented on #56
Hey @DannyVancura,

Unfortunately, `lengthMatchesType` and `numberIsNumeric` are internal functions and I can't use them.

[2016-05-04 18:16] DannyVancura commented on #56
Oh, my bad. I'll create a PR to make these available publicly.

[2016-05-04 18:38] DannyVancura commented on #56
Here is the PR for this: #57
If you need any other methods available for this issue, please let me know.
I would apply the changes with the next Patch version.

Thanks,
Daniel

[2016-05-04 18:42] ThibaultKlein commented on #55
Hi @DannyVancura,

`Selector` is deprecated with Xcode 7.3, and if I use the new `#selector` it requires to provide the function instead of a string, but because it's internal I can't access it.

[2016-05-04 19:05] DannyVancura commented on #55
@ThibaultKlein Thanks for pointing this out. I created a pull request to make these methods public. I also renamed them to move card number `out` or `in`.

This PR will give you access to `moveCardNumberOut`, `moveCardNumberOutAnimated`, `moveCardNumberIn` and `moveCardNumberInAnimated`.

As before: `moveCardNumberOut` and `moveCardNumberOutAnimated` will do nothing as long as the card number is n

[2016-05-04 20:01] ThibaultKlein opened #59 "Custom card type that doesn't require expiration date and CVC"
Hi,

Would it be possible to handle card types that don't handle expiration date and CVC? So only the card number field displays and validates, the rest is ignored.

Thanks!

[2016-05-04 20:14] DannyVancura commented on #59
Hey,
It should be possible to just use `NumberInputTextField` for that.
Another option might be to subclass `CardTextField` and override the `moveCardNumberOut` method (currently only available on branch `chore/numberAnimationAccess`, PR pending) to call `super. moveCardNumberOut ` only when a certain card type has been detected (or any other condition you might have for this). Also you'd have to

[2016-05-04 22:53] ThibaultKlein opened #60 "CardTypeRegister doesn't have to be a singleton"
Hi,

`CardTypeRegister` doesn't have to be a singleton, it could just live with the instance of the text field. You can make the init public, and also create a constant for the default credit card types array that you use as a public variable.

[2016-05-04 23:29] ThibaultKlein commented on #56
I tried your pull request and it's working for me 👍

[2016-05-04 23:39] DannyVancura commented on #60
Hi, thanks for the suggestion! The changes you propose certainly make sense! I added this in #61

[2016-05-05 16:19] ThibaultKlein commented on #59
That makes sense but it seems a little bit "tricky", if possible that would be great to build this feature, or provide some documentation in the README on how to achieve this.

[2016-05-05 16:41] #56 closed

[2016-05-05 16:43] #60 closed

[2016-05-05 17:44] ThibaultKlein opened #62 "Demo project Buy Now does nothing"
Hi,

When tapping on the Buy Now button nothing happens and the console prints this error:

[code]

A quick fix to unblock the QA is to change the background color to white in `Main.storyboard`.

Thanks!

[2016-05-05 18:48] #55 closed

[2016-05-05 19:13] DannyVancura commented on #59
I see that especially hiding the CVC might be useful to have. I just created PR #63 which tackles this issue by adding an option to make the expiry and/or cvc required.

[2016-05-05 20:57] DannyVancura commented on #48
Closing with #50: RTL language support is now available with version 1.2.2

[2016-05-05 20:57] #48 closed

[2016-05-19 23:51] atlcodecommandr opened #66 "navigation popviewcontroller fires translateCardNumberIn() and crashes"
Hello,
For some reason when I click cancel or pop the viewcontroller that caishen is in, it crashes on the line:

let offset = isRightToLeftLanguage ? -superview!.bounds.width : superview!.bounds.width

Any Idea what it could be?

[2016-05-21 17:51] DannyVancura commented on #66
Hey @atlcodecommandr , thank you for your bug report!
I wasn't able to reproduce this error on my end, but I assume the crash occurs because of the force unwrap of a missing `superview`.

Can you please have a look at PR #67 and let me know if that fixes the problem in your view?

Thanks,
Daniel

[2016-05-30 06:48] mohammad19991 opened #68 "is it possible to use Caishen components separately"
I have different design from what Caishen provide right now and I wanna check if I can use the textFields separately and take advantage of the current component because it provides complete solution regarding the validation, support different card types... etc
Thank you!

[2016-05-30 12:19] everhardt commented on #66
I checked: PR #67 solves it.

[2016-05-30 14:31] kishyr opened #69 "Can't get CardTextField to not be first responder"
Hi

Thanks for the great project!

By default, my CardTextField object becomes the first responder and I can't seem to disable that feature. I've tried calling `resignFirstResponder()` on it, but it doesn't seem to work. How can I make it not be the first responder in the first place?

Thanks!

[2016-05-30 17:30] DannyVancura commented on #69
Hi,

Thanks for the bug report! Which version of Caishen do you use?
This bug was a known issue in version 1.2.2 but PR #65 should have fixed this problem for version 1.2.3.

Best regards,
Daniel

[2016-05-30 19:31] DannyVancura commented on #68
Hey!

Thank you for the issue! Right now, some of the properties to make this work are marked as internal. I created a PR ( #70 ) to change these and added a very basic example to the Readme to show how this can be done.
Please let me know if the readme is descriptive enough or if you are missing any details in it!

Thanks,
Daniel

[2016-05-30 19:36] #66 closed

[2016-05-31 07:18] kishyr commented on #69
Ah! I didn't realise there was a new version out. I was still on 1.2.2. It does look like it's fixed 1.2.3. Thanks so much, and thanks again for the great project!

[2016-05-31 07:18] #69 closed

[2016-06-01 17:19] otymartin opened #71 "Does not conform to CardTextFieldDelegate"
@DannyVancura
This error kept bugging me while following the instructions. It existed in this delegate method declaration.
[code]

The problem was that
[code]
is an optional When I removed the `?` to
[code]
the error disappeared. Perhaps a reason why?

[2016-06-02 14:00] jamesjackson69 opened #72 "Visual Effect error"
I get this error when ever I run the example project.
`<UIVisualEffectView 0x7f925b803be0> is being asked to animate its opacity. This will cause the effect to appear broken until opacity returns to 1.`

[2016-06-03 03:48] #72 closed

[2016-06-05 08:01] mohammad19991 commented on #68
@DannyVancura hey! any updates? check my comment on PR #70.

[2016-07-11 22:01] #68 closed

[2016-07-11 22:39] #59 closed

[2016-07-11 23:14] #71 closed

[2016-08-01 11:09] ThibaultKlein opened #75 "Card image for custom card type"
Hi there,

Is there an easy way to provide a custom image for a custom card type?

I noticed that I could "hack" by having the card image name equal to the card type name, but `imageForCardType` is using `self` as the bundle, which returns nil if the image is contained in the project bundle and not the pod bundle.

[code]

Thank you for your help!

[2016-08-01 16:10] DannyVancura commented on #75
Hey! You should be able to implement and provide a `CardTypeImageStore` for a `CardTextField` yourself.
This should be possible by either:
* copying the images from Caishen to your main bundle and setting NSBundle.mainBundle() as this image store
* or by implementing the `CardTypeImageStore` protocol with something like:
[code]

[2016-08-02 11:33] ThibaultKlein commented on #75
Thank you @DannyVancura, it works if I do your solution, although I still think there should be a way to provide a custom image without duplicating assets in our project. Ideally, we would like to specify the image in the card type model so it's trivial to create a new card type and provide all the structure you want at the same place. Let me know your thoughts on that!

[2016-08-05 01:41] ElectrumDevelopment opened #77 "Manual installation"
I installed it, how do I get the individual pieces as string so I can set it to user defaults

[2016-08-06 00:55] ElectrumDevelopment commented on #77
func cardTextField(cardTextField: CardTextField, didEnterCardInformation information: Card, withValidationResult validationResult: CardValidationResult) {
        if validationResult == .Valid {
            defaults.setObject(Card.Number, forKey: "cardNumber")
            defaults.setObject(Card.expiryDate, forKey: "expDate")
            defaults.setObject(Card.cardVerificationCode, forKey: "cvc")

[2016-08-09 15:39] DannyVancura commented on #77
Hey,
I think saving the pieces to user defaults should look more like this:

[code]

Depending on your use case I'd probably not save the CVC or even the data all together. At least the PCI security standards council [advises to store data only if necessary and not to store the CVC at all](https://www.pcisecuritystandards.org/pdfs/pci_fs_data_storage.pdf).

Also I'd recommend to encrypt the data.

[2016-08-12 22:15] ElectrumDevelopment commented on #77
Thanks for the suggestions! Encryption will definitely be my first priority

[2016-08-15 22:06] ElectrumDevelopment commented on #77
Also, any way to capture the date as a string instead of a NSDate?

[2016-08-22 12:18] josalmi opened #80 "NumberInputTextField text color not working with prefillInformation"
I'm having problems setting textColor to `NumberInputTextField` when using with `prefillInformation` with Card.IO integration. I used very hacky workaround for this:

`cardNumberInput.textField(cardNumberInput, shouldChangeCharactersInRange: NSMakeRange(0, cardNumberInput.text!.characters.count), replacementString: cardNumberInput.text!)`

I guess there is a bigger issue behind this caused by the

[2016-08-28 03:09] kishykumar commented on #62
Yes, it didn't work for me too (on iOS 9). But, it did work on iOS 8.

[2016-09-08 10:35] havocked opened #83 "Swift 3 compatibility"
Hello ! I Really appreciate your work guys. Is there any chances to know when you will release swift 3 compatibility ?

[2016-09-08 14:35] ppatriotis commented on #83
Sorry, we've been busy with a rollout, so we'll probably be able to get to it in a week. In the meantime pls feel free to try / debug / fix https://github.com/prolificinteractive/Caishen/pull/79

[2016-09-08 14:37] ppatriotis commented on #80
I'm sorry it's been a while, the maintainer @DannyVancura has been busy with a rollout the past 2 weeks. Hope we can get this answered in a week or two. If you have any ideas about how to fix this in a non-hacky way in the meantime, feel free to submit a pull request.

[2016-10-06 06:41] borut-t commented on #83
+1

[2016-10-14 02:11] jackpaster commented on #83
+1 you said in a week. Its october now

[2016-10-14 02:15] jackpaster commented on #83
could you please get it updated

[2016-10-14 12:37] jackpaster commented on #83
I love the work you guys do, by the way. This project is amazing

[2016-10-14 15:36] DannyVancura commented on #83
Hi, I'm very sorry about the delay. We have a PR pending to add Swift 3 compatibility [here](https://github.com/prolificinteractive/Caishen/pull/85). Since this introduces a significant amount of changes to the public API that cannot easily be fixed later we'd rather not merge this without some more reviews on it. Please feel free to take a look at those changes and share your feedback.

[2016-10-14 16:05] jackpaster commented on #83
so i'm confused, will you update the project to swift 3.0

On Fri, Oct 14, 2016 at 11:36 AM, Daniel Vancura <notifications@github.com>
wrote:

[2016-10-14 16:05] jackpaster commented on #83
@prolificInteractive so i'm confused, will you update the project to swift 3.0

[2016-10-14 16:06] jackpaster commented on #83
When I open the project in xcode 8, swift 3.0, I get numerous errors and that the cocoapods are out of date

[2016-10-14 16:07] jackpaster commented on #83
I spent hours trying to fix it but was led nowhere

[2016-10-14 16:10] DannyVancura commented on #83
Yes, we will update the project to Swift 3 eventually. Are you working on this PR: #85 ? The one mentioned above (#79) is outdated, since it was created on Xcode 8 beta and Apple made changes to the Swift 3 API since then. Which version of Cocoapods are you using?

[2016-10-14 16:11] jackpaster commented on #83
the latest version

On Fri, Oct 14, 2016 at 12:10 PM, Daniel Vancura <notifications@github.com>
wrote:

[2016-10-14 16:12] jackpaster commented on #83
do you know when you will update the project. I need a credit card
validation system for my app. And this is the by far the best one ive seen
on github, etc. But I cant use it

On Fri, Oct 14, 2016 at 12:11 PM, jack paster <jackpaster22@gmail.com>
wrote:

[2016-10-14 16:18] jackpaster commented on #83
@prolificInteractive do you know when you will update the project. I need a credit card
validation system for my app. And this is the by far the best one ive seen
on github, etc. But I cant use it

[2016-10-14 16:21] jackpaster commented on #83
is there a possibility it can be updated next week.

[2016-10-14 16:29] DannyVancura commented on #83
I think next week does sound realistic. In the meantime you should be able to use the current Swift 3 branch by adding `pod 'Caishen', :git => 'git@github.com:prolificinteractive/Caishen.git', :branch => 'swift-3.0'` to your Podfile.

[2016-10-14 16:31] jackpaster commented on #83
ok ill do it and get back to you, but i'm begging you guys to please update
it. All I have left in my app is a creditcard validation system. Thats why
I'm so desperate.

On Fri, Oct 14, 2016 at 12:29 PM, Daniel Vancura <notifications@github.com>
wrote:

[2016-10-14 16:33] jackpaster commented on #83
@ProlificInteractive ok ill do it and get back to you, but i'm begging you guys to please update it. All I have left in my app is a creditcard validation system. Thats why I'm so desperate.

[2016-10-20 13:59] gustavoamgarten commented on #83
Hey guys, how is this going? I tried adding `pod 'Caishen', :git => 'git@github.com:prolificinteractive/Caishen.git', :branch => 'swift-3.0'` but it didn't work out, as I got an error on `pod install`.

[2016-10-20 20:06] DannyVancura commented on #83
What is the error you got? My guess is that you may not have ssh keys set up to use the command as posted. If so, this command should work for you: `pod 'Caishen', :git => 'https://github.com/prolificinteractive/Caishen.git', :branch => 'swift-3.0'`
Or optionally, set up an SSH key for your computer on Github [as described here](https://help.github.com/articles/adding-a-new-ssh-key-to-your-github-

[2016-10-21 23:40] jackpaster commented on #83
I successfully added the pods, but I get a swift binary issue. Now I tried changing swift legacy, but then I got 800+ errors in my project. Heres an image of the error.
<img width="987" alt="screen shot 2016-10-21 at 7 40 21 pm" src="https://cloud.githubusercontent.com/assets/17861785/19614753/38a34354-97c6-11e6-9b5a-ce29d3e657b8.png">

[2016-10-22 00:37] DannyVancura commented on #83
Swift Legacy should be set to `NO` for a Swift 3.0 project. On Cocoapods version 1.0.x you'd have to add the following to the Podfile to set this properly for Cocoapods dependencies:

[code]

In version 1.1.x (pre-release clients) you'd have to add a file called `.swift-version` in the same folder as your Podfile that only contains the text `3.0`.

The following worked for me in a small example pr

[2016-10-22 02:33] jackpaster commented on #83
i'm confused on what to do, i'm trying it but it keeps telling me to fix all the syntax errors to transfer the code from 2.3 to 3.0

[2016-10-22 02:34] jackpaster commented on #83
I did what you said and the amount of syntax error I received was well over 100+. I fixed half of them but I've been stuck for three days now. Can you please help

[2016-10-22 02:35] jackpaster commented on #83
Here are images.

<img width="465" alt="screen shot 2016-10-21 at 10 35 00 pm" src="https://cloud.githubusercontent.com/assets/17861785/19616335/a69a35bc-97de-11e6-8913-d402bf866d0b.png">
![Uploading Screen Shot 2016-10-21 at 10.34.55 PM.png…]()
![Uploading Screen Shot 2016-10-21 at 10.34.47 PM.png…]()
![Uploading Screen Shot 2016-10-21 at 10.34.43 PM.png…]()

[2016-10-22 02:35] jackpaster commented on #83
<img width="279" alt="screen shot 2016-10-21 at 10 34 43 pm" src="https://cloud.githubusercontent.com/assets/17861785/19616351/b71d7610-97de-11e6-9a23-e0ca46d7d0dd.png">

[2016-10-22 02:36] jackpaster commented on #83
Could you update the project please

[2016-10-22 15:27] jackpaster commented on #83
I spent three days fixing 400 errors and upgrading the project to swift 3.0. I'm left with 25 that i don't know how to fix and i'm hoping you can help

[2016-10-22 16:01] jackpaster commented on #83
Ill send you the updated project. I fixed most of the errors, but could you finish the tiny bit left

[2016-10-22 21:11] DannyVancura commented on #83
I'm sorry, but it doesn't look like you are working with branch `swift-3.0`. If you look at the implementation of `isFirstResponder` [here](https://github.com/prolificinteractive/Caishen/blob/swift-3.0/Pod/Classes/UI/CardTextField.swift) for example (line 195) you will see the code difference to the screenshot you posted above.

[2016-10-22 21:40] ppatriotis commented on #83
@jackpaster we are working on the Swift 3.0 update, but it's a major change so it won't be out for at least a few weeks. I understand you need it for your project, and there is a working version if you follow @DannyVancura 's instructions carefully, we just will not make an official release until it's stable.

[2016-10-22 21:42] jackpaster commented on #83
Here is some code how can I fix this. Its a nslocale error.

internal var isRightToLeftLanguage: Bool {
        if #available(iOS 9.0, *) {
            return UIView.userInterfaceLayoutDirection(for: semanticContentAttribute) == .rightToLeft
        } else {
            let locale = Locale.current
            let isoCode = Locale.autoupdatingCurrent.object(forkey: NSLocaleLanguageCode) as? String

[2016-10-22 21:55] jackpaster commented on #83
@DannyVancura
@ppatriotis

Do you have a suggestion to fix this

[2016-10-22 22:02] DannyVancura commented on #83
The code on the branch `swift-3.0` looks different here:

[code]

To fix this: Running `pod install` again with the Podfile set up as I mentioned [above](https://github.com/prolificinteractive/Caishen/issues/83#issuecomment-255495469) (meaning: use exactly this line to integrate Caishen: `pod 'Caishen', :git => 'https://github.com/prolificinteractive/Caishen.git', :branch => 'swift-3.0'`) should s

[2016-10-22 22:04] jackpaster commented on #83
Can you just please help me solve these two last errors.

There this:

public func checkCardNumberPartiallyValid(cardNumber: Number) -> CardValidationResult {
        let validationResult = validateNumber(number: cardNumber)
        let completeNumberButLuhnTestFailed = !validationResult.isSuperset(of: CardValidationResult.NumberIncomplete) && validationResult.isSuperset(of: CardValidationResult.L

[2016-10-22 22:06] jackpaster commented on #83
@ppatriotis
@DannyVancura

Could you please fix this error. I'm not touching the cocoa pods. It's outdated swift 2.3 code i'm trying to fix that i will share with you. So that you guys don't have to put in all the work to solve this

[2016-10-22 22:06] jackpaster commented on #83
I'm almost done and will send you guys an updated project, but I'd like a little help.

[2016-10-22 22:08] jackpaster commented on #83
I fixed the code in the frameworks

[2016-10-22 22:08] ppatriotis commented on #83
@jackpaster I'm confused, I thought you needed the Swift 3.0 version

[2016-10-22 22:08] jackpaster commented on #83
Yes i do.

[2016-10-22 22:09] jackpaster commented on #83
I'm going to send you the updated code

[2016-10-22 22:09] jackpaster commented on #83
for swift 3.0

[2016-10-22 22:13] ppatriotis commented on #83
@jackpaster the `swift-3.0` branch already has the updated code for swift 3.0

[2016-10-22 22:13] ppatriotis commented on #83
There's no need to send

[2016-10-22 22:14] jackpaster commented on #83
could you please help fix the issue. I'm about to solve my problem. I did that and I got a binary error. Could you please help me find an answer for the question above with the nslocale

[2016-10-22 22:15] jackpaster commented on #83
@DannyVancura what would be your suggestion

[2016-10-22 22:16] ppatriotis commented on #83
@jackpaster we published the workaround months ago. We do not have the ability to debug forked code. Please use the standard workarounds and fix it if possible. It will be quicker and help us make a more stable product for everyone.

[2016-10-22 22:17] jackpaster commented on #83
could you tell me your suggestion for the nslocale though. I understand that you have fixes for the problem but what is your suggestion to fix the nslocale problem

[2016-10-22 22:18] DannyVancura commented on #83
The code I posted for this above should work:

[code]

[2016-10-22 22:19] ppatriotis commented on #83
@jackpaster @DannyVancura if you guys would like to hop into a chat, go here: https://gitter.im/prolificinteractive/Caishen

[2016-10-22 23:20] jackpaster commented on #83
I'm getting an import caishen error. No such module and the frameworks are there

[2016-10-23 02:17] monshipouri opened #92 "IB Designables Error on Swift 2.3"
Hi,

When I add CardTextField class to my UITextField, I get IB Designable errors.

![errors](https://cloud.githubusercontent.com/assets/1050041/19623735/f1213ad8-988b-11e6-9577-d620fbdf5a83.png)

[2016-10-23 18:41] DannyVancura commented on #92
Hi, thanks for letting us know about this issue!
From what I can find online, this seems to be an issue with Xcode 8 and IBDesignable in Swift 2.3 in general: https://forums.developer.apple.com/thread/63237
Will look more into this in the coming week.

[2016-10-23 20:07] jackpaster opened #93 "card.io won't present app crashes"
The app crashes at this line
 let cardIOViewController = CardIOPaymentViewController(paymentDelegate: self)

It's not recognizing paymentdelegate

[2016-10-23 20:18] DannyVancura commented on #93
Hi,
what is the crash report? Also, which branch are you working on?

[2016-10-23 20:19] jackpaster commented on #93
So everything worked could we talk on the messenger so I can send you pictures

[2016-10-23 20:20] jackpaster commented on #93
The crash report is
<img width="488" alt="screen shot 2016-10-23 at 4 20 38 pm" src="https://cloud.githubusercontent.com/assets/17861785/19629179/ad42ee04-993c-11e6-8e31-2937aa67b628.png">

[2016-10-23 20:21] jackpaster commented on #93
once I click on the credit card to take a picture, the app crashes

[2016-10-23 20:22] jackpaster commented on #93
@DannyVancura what would be the fix

[2016-10-23 20:22] DannyVancura commented on #93
That is not the full crash report. Please include line 1-31 as well.

[2016-10-23 20:23] jackpaster commented on #93
ok

[2016-10-23 20:23] jackpaster commented on #93
how do i get the crash report

[2016-10-23 20:24] jackpaster commented on #93
<img width="475" alt="screen shot 2016-10-23 at 4 23 56 pm" src="https://cloud.githubusercontent.com/assets/17861785/19629205/1eaa19f0-993d-11e6-8b94-e386c45f7c2c.png">

[2016-10-23 20:24] jackpaster commented on #93
@DannyVancura is this it

[2016-10-23 20:27] jackpaster commented on #93
what would be the fix

[2016-10-23 20:30] jackpaster commented on #93
@DannyVancura could you please help me resolve the issue

[2016-10-23 20:35] DannyVancura commented on #93
Is this the unmodified example project from the Caishen repository that you are running? It seems that there is an issue with the project settings here. In fact, the error description even tells you what's wrong and how to solve it:
[code]

[2016-10-23 20:45] jackpaster commented on #93
I removed -objc because i got this error after i ran pod install

<img width="898" alt="screen shot 2016-10-23 at 4 44 24 pm" src="https://cloud.githubusercontent.com/assets/17861785/19629310/08bdaece-9940-11e6-8e23-28986b197372.png">

[2016-10-23 20:46] jackpaster commented on #93
@DannyVancura there were 2 duplicate symbols for architecture i386

[2016-10-23 20:55] jackpaster commented on #93
what do you think might be the fix

[2016-10-23 21:15] jackpaster commented on #93
can you help me

[2016-10-23 21:15] jackpaster commented on #93
i did pod degenerate and did pod install and i came up with the same problem from yesterday

[2016-10-25 01:57] DannyVancura commented on #80
Hi,
thanks for filing this issue and posting the workaround. The way your workaround handles text input makes sense to me, as it treats pre-filled information like user input. #94 should fix this issue.

[2016-10-25 02:11] DannyVancura commented on #77
To get a date in any form you want, you should use an NSDateFormatter, possibly in the language that the device user uses and with the date and time format that you need (like `Jan 1, 2016`, `1/1/2016`, etc.).

[2016-10-26 18:01] monshipouri commented on #92
The way I fixed it was to create another class and Inherit from CardTextField, Like:

[code]

I hope it can help. Thanks

[2016-11-13 16:50] welove opened #95 "I can't change the card number separator"
I can't change the card number separator.

i tried:
`cardTextField.numberInputTextField.cardNumberSeparator = "-"`
and:
`cardTextField.cardNumberSeparator = "-"`

i get the following error:
Thread 1: EXC_BAD_ACCESS
at CardNumberFormater.swift in public func format(cardNumber: String) -> String
on the following line:
regex = try NSRegularExpression(pattern: pattern, options: NSRegularExpression.Opt

[2016-11-15 14:50] DannyVancura commented on #95
Hi @welove, thank you for reporting this issue!
I tried to reproduce this bug on the Example project but it didn't crash for me with the lines that you posted above. Can you to share more information about how you set up Caishen and what you did when you ran into this issue please?
Like:
- What placeholder text did you set and how did you set it?
- Did you pre-fill any card information before you

[2016-11-15 17:37] welove commented on #95
Hi Danny, here is full my code:

[code]

Just tested it out, and If i comment/delete the placeholder line, it works.

[2016-11-25 01:01] sahil-a opened #96 "Card Number Text Field Not Responsive"
Once _all card info is entered_ and the cardNumberTextField is tapped (not swiped), the CardTextField will not transition back to the full cardNumberTextField mode or even allow editing of the card number.

[2016-11-27 23:45] DannyVancura commented on #96
Hi @sahil-a,
Thanks for reporting this issue. Does this only happen for specific card types? And which branch or version of Caishen are you using? On master (version 1.4.0, Swift 2.3) I am unable to reproduce this issue.

[2016-11-28 20:23] #80 closed

[2016-11-29 17:25] #95 closed

[2016-12-07 16:19] freak4pc opened #98 "Caishen 1.5.0 crashes when prefilling partial card info."
After performing scan card with Card.io I'm performing :
![image](https://cloud.githubusercontent.com/assets/605076/20975940/a71b751a-bca9-11e6-8650-d812e771fa89.png)

This worked well in all previous version.
Currently it crashes in `NumberInputTextField.swift` line 96. It seems the `textFieldTextFormatted` is an empty string despite me passing a full credit card string.

This didn't crash in pre

[2016-12-08 20:10] #83 closed

[2016-12-08 23:37] jackpaster opened #99 "no pod spec found"
Can you help me. I'm trying to pod install but your pods are failing for me

[2016-12-09 20:14] freak4pc commented on #98
Still an issue in 2.0.0 @DannyVancura

[2016-12-09 20:34] freak4pc commented on #98
Setting the text field value before calling the delegate method solves this issue.
This was actually part of the previous code before fixing an issue related to colors.

See PR:
https://github.com/prolificinteractive/Caishen/pull/100

[2016-12-12 15:25] LouisBorlee opened #101 "CardTextField prefill not prefilling month, year and cvc"
Hi,

I'm trying to use Caishen combined with CashIO SDK and couldn't find a way to make the prefill func work (under swift 3.0 and XCode 8).

Currently, I got
[code]

The only field that changes is the cardNumberField.

Any idea why?

Thanks

[2016-12-14 15:42] DannyVancura commented on #99
Hi,
can you please provide more information about what is failing?

[2016-12-14 15:43] #77 closed

[2016-12-14 15:45] DannyVancura commented on #101
Hey, thanks for letting us know about this issue!

#103 should fix this problem.

[2016-12-14 16:43] jorgelp94 commented on #99
This is what I'm getting:
[!] Error installing Caishen
[!] /usr/bin/git clone https://github.com/prolificinteractive/caishen.git /var/folders/ch/1jpjny5s2bs0n5g5vjpjzkkm0000gn/T/d20161214-38038-vyfwn8 --template= --single-branch --depth 1 --branch 1.4.0

Cloning into '/var/folders/ch/1jpjny5s2bs0n5g5vjpjzkkm0000gn/T/d20161214-38038-vyfwn8'...
fatal: unable to access 'https://github.com/prolificint

[2016-12-14 20:06] #98 closed

[2016-12-14 20:11] #101 closed

[2016-12-14 22:54] DannyVancura commented on #99
When running the exact same command I don't get this error:

[code]

[2016-12-15 23:46] DannyVancura commented on #92
Closed with #102

[2016-12-15 23:46] #92 closed

[2016-12-15 23:56] monshipouri commented on #92
Thanks

[2016-12-29 11:37] albarq opened #106 "Error on installing on swift 3"
Hi,

I tried my best before posting my answer here ... but still did not work ..

pod 'Caishen', :git => 'https://github.com/prolificinteractive/Caishen.git', :branch => 'swift-3.0'

but I receive this error:
[!] Error installing Caishen
[!] /usr/bin/git clone https://github.com/prolificinteractive/Caishen.git /var/folders/3f/hlddm2z55_91b6hx68g2vflw0000gn/T/d20161229-86999-1vt21f1 --template= --s

[2016-12-29 14:45] DannyVancura commented on #106
Hi,
The branch you are pointing to (swift-3.0) has been merged and deleted, which is why cocoapods cannot install it with `pod 'Caishen', :git => 'https://github.com/prolificinteractive/Caishen.git', :branch => 'swift-3.0'` anymore. You can use `pod 'Caishen', '2.0.1'` now and it should work.

[2017-01-03 19:15] albarq commented on #106
[!] Unable to satisfy the following requirements:

- `Caishen (= 2.0.1)` required by `Podfile`

None of your spec sources contain a spec satisfying the dependency: `Caishen (= 2.0.1)`.

You have either:
 * out-of-date source repos which you can update with `pod repo update`.
 * mistyped the name or version.
 * not added the source repo that hosts the Podspec to your Podfile.

Note: as of CocoaPods

[2017-01-03 19:19] DannyVancura commented on #106
Right, you'll need to run `pod repo update` before `pod install` in this case. Your local Cocoapods repo is outdated and it can't find this new version of Caishen. `pod repo update` should fix this.

[2017-01-03 19:19] albarq commented on #106
thank you ... I am running  and it takes time

[2017-01-04 22:58] Cayke opened #107 "cardTextFieldDelegate prevents UIViewController dealloc"
I am using a CardTextField and when i set the delegate as my viewController the controller never deallocs. If i comment the line that i set delegate the viewController deallocs fine. I think the delegate may be not using weak reference, can anyone check this bug please?

Code:
cardTextField.cardTextFieldDelegate = self

self is the viewController

[2017-02-28 03:03] Nathan187 opened #108 "new to library"
i'm writing an app using swift 3

i added this framework to my project using carthage.  everything appears to be fine.
however in interface builder, i can't set the class to CardTextField

I get an error when running the application
 Unknown class CardTextField in Interface Builder file

any help would be appreciated

[2017-02-28 17:28] DannyVancura commented on #108
Hi, thanks for filing this issue.

The only reason I can think of for this is that the module hasn't been specified (see attached screenshot).

<img width="1068" alt="cardtextfield interface builder" src="https://cloud.githubusercontent.com/assets/15171764/23416569/a5cf8a72-fde3-11e6-9280-b1e2296c02a2.png">

Hope this helps!

[2017-02-28 17:32] Nathan187 commented on #108
Daniel, I'm sorry to waste your time.  I was able to get it to work. I should have closed it earlier.  Thank you so much

[2017-02-28 17:32] #108 closed

[2017-02-28 17:52] DannyVancura commented on #108
Hey, no problem. Glad it works! If there's any information that could have helped you and that you think might be missing in the Readme, please let me know!

[2017-03-21 21:40] steven-diaz opened #110 "CardNumberFormatter Regex Broken"
Example, American Express, debug output with a card number of "37671234561234"

CardType: AmericanExpress(name: "Amex", CVCLength: 4, numberGrouping: [4, 6, 5], identifyingDigits: Set([37, 34])), groups: [4, 6, 5]
Pattern: (\d{1,4})(\d{1,6})?(\d{1,5})?
Regex: <NSRegularExpression: 0x13772f8d0> (\d{1,4})(\d{1,6})?(\d{1,5})? 0x0
**Formatted: 3767 1234 5612 34**

[2017-06-09 13:35] DannyVancura commented on #110
<img width="319" alt="screen shot 2017-06-09 at 3 32 40 pm" src="https://user-images.githubusercontent.com/15171764/26977692-161144da-4d29-11e7-8864-98ef189e7934.png">

Hey, this card number seems to be formatted correctly on my end (besides the fact that it is one digit too short to be valid).

[2017-06-09 13:36] #106 closed

[2017-06-09 13:37] DannyVancura commented on #96
Unable to reproduce.

[2017-06-09 13:37] #96 closed

[2017-06-14 15:58] #107 closed

[2017-07-12 14:33] corbinhudson opened #113 "Card.io + Prefill Causing Keyboard to pop up"
Using Card.io method  'userDidProvide' I call cardTexField.prefill to populate the cardTextField with values. When I hit done on the paymentViewController, prefill is called the keyboard reappears to fill out values I've already provided. Already tried a number of resignFirstResponder fixes and nothing worked.

[2017-07-28 09:25] feemi opened #114 "xcode 9 beta 4 Build failed pod"
StringExtension.swift

[code]
` NSMakeRange(utf16view.startIndex.distance(to: from), from.distance(to: to))`
Value of optional type 'String.UTF16View.Index?' (aka 'Optional<String.Index>') not unwrapped; did you mean to use '!' or '?'?

[2017-08-11 11:48] harshilkotecha opened #115 "How to show card image and cvv in Using the different components of the text field separately"
when i follow **Using the different components of the text field separately**
how to show card type image and cvv image in text field ?

[2017-08-12 05:25] harshilkotecha commented on #115
Step 1 : Add image view , Text field 4 ( enter card number , CVV, MM ,YY)
Step 2 : Number Text field class - > NumberInputTextField
              CVV text field class     -> CVCInputTextField
              Month text field class  -> MonthInputTextField
              Year text field class     -> YearInputTextField
Step 3 : Create @IBOutlet all text field and image view
Step 4 : Code here

[code]

[2017-08-17 14:06] steven-diaz commented on #114
Yes, please address before Swift 3.2 goes live. Thanks!

[2017-08-17 15:24] DannyVancura commented on #114
Hi, I created a [Swift 3.2](https://github.com/prolificinteractive/Caishen/tree/swift-3.2) branch for this (using current Xcode 9 Beta 5). I noticed an issue with both Swift 3.2 as well as [Swift 4.0](https://github.com/prolificinteractive/Caishen/tree/swift-4):

When you open the view controller containing a card text field and closing it again (without entering text in the text field), the app c

[2017-08-30 05:58] BeauNouvelle opened #116 "Validate Card on pre-fill"
After pre-filling fields with CardIO, `didEnterCardInformation` is not called.
Some actions are taken after a successful validation, such as enabling a "Submit" button.

How would I force textfield to validate and call the `didEnterCardInformation` delegate method?

[2017-08-30 06:37] BeauNouvelle commented on #116
Here's what I'm using at the moment:

[code]

[2017-09-21 14:51] piercifani commented on #114
Any news?

[2017-09-24 01:37] walterhuangfs commented on #114
I'm seeing this with XCode 9 as well.

[2017-09-25 18:15] OuSS-90 opened #122 "xcode 9 swift 4 errors"
Hi,
I migrated from swift 3 to 4 and i got errors related to swift 4 syntax
you will update the pod for swift 4 ?

Thanks,

[2017-10-07 10:16] rmvz3 commented on #122
Yeah. Would be nice. Thx

[2017-10-20 00:07] zahedul commented on #114
<img width="996" alt="screen shot 2017-10-20 at 6 05 34 am" src="https://user-images.githubusercontent.com/1929044/31799602-d63990c8-b55c-11e7-84be-4adbfc854436.png">

Using Xcode 9. couldn't run

[2017-11-16 19:11] hkellaway opened #124 "Validation in separate subspec"
It would be great to not have to import the whole library just to access its validation feature

[2017-11-29 13:05] teo029 opened #125 "Can't type anything into the custom TextFields."
I just set my TextFields to correspond to the examples (e.g. CVCInputTextField) and when I try to type inside those, nothing happens (cursor doesn't move and I can't see the text). Moreover, the keyboard doesn't change to the corresponding input type.

If I try to type something in other non-custom Text Fields inside my UI, it works.

[2017-11-29 13:34] teo029 commented on #125
Yeah, seems like the problem was not really a problem. It just doesn't allow you to type in non-numerical characters.

You guys should've posted a error-ish border for the field or something or maybe change the input type programatically.

Solved.

[2017-11-29 20:52] teo029 opened #126 "CardIO + NumberInputTextField"
How can I combine the last example in this repo (multiple TextFields) with an accessory button that will open CardIO?

[2017-11-29 23:33] ppatriotis commented on #125
Sounds like a good idea! Any chance you have a PR of that change you'd like to submit?

[2017-11-30 00:44] MrGobert opened #127 "Not able to use Content Type in Credit Card UITextfield"
I'm trying to use the native UITextField Text Input Traits that uses iCloud Keychain to autofill the users data into the text field based on the Content Type its set to. I set the CardTextField content type to credit card but I'm not able to auto-populate the credit card field with my saved info.

Anyone know of a way to get this to work? I'm assuming its not working because of something Caishen h

[2017-12-01 15:54] ppatriotis commented on #124
+1

are there any other existing validation libraries that Caishen could just use?

[2017-12-11 01:35] DannyVancura commented on #127
Hi thanks for highlighting this issue! This is indeed something we would like to have working if possible!

After playing with this a bit I noticed that this doesn't even work for me when just adding a regular UITextField and setting the text input traits as you have done here. Can you confirm that you got this working on a regular UITextField? And if so, how?

[2017-12-11 01:56] DannyVancura commented on #126
Hey, this should do the trick:

[code]

[2017-12-11 01:56] #126 closed

[2017-12-11 01:58] DannyVancura commented on #125
Since you mentioned this issue is solved for you, I'm gonna close this issue. As @ppatriotis mentioned: If you happen to implement said error-ish border, please feel free to create a PR for this, so we can consider this for a future version. Thanks!

[2017-12-11 01:58] #125 closed

[2017-12-11 01:59] DannyVancura commented on #122
The pod has been updated for Swift 4. Please check out the latest version. Thanks!

[2017-12-11 01:59] #122 closed

[2017-12-11 02:01] DannyVancura commented on #114
The Swift 4 branch has been merged and the current version supports Swift 4.

[2017-12-11 02:01] #114 closed

[2017-12-11 02:02] DannyVancura commented on #62
Closing this - this issue seems to be gone with the current version. Please feel free to reopen the issue if you still encounter it.

[2017-12-11 02:02] #62 closed

[2017-12-11 02:04] DannyVancura commented on #124
So far I don't know of any existing libraries but I believe we could split this into a subspec for Caishen or a completely separate library in a future version. Great feature request!

+1

[2017-12-11 02:12] DannyVancura commented on #116
The current example project does this, enabling a "Buy" button in the upper right hand corner of the screen. `cardTextField(_ cardTextField: CardTextField, didEnterCardInformation information: Card, withValidationResult validationResult: CardValidationResult)` is called appropriately here to update this button state as you describe. Please note, that this uses `prefill(_, month: Int, year: Int, cv

[2017-12-11 02:12] #116 closed

[2017-12-11 02:14] BeauNouvelle commented on #116
No problem thank you.

[2017-12-11 02:15] DannyVancura commented on #115
Thanks for posting your solution here! 🙂
Daniel

[2017-12-11 02:15] #115 closed

[2017-12-11 02:37] DannyVancura commented on #93
[Cocoapods](https://github.com/CocoaPods/CocoaPods) and [CardIO](https://github.com/card-io/card.io-iOS-SDK) related issue. Please refer to respective repositories for details.

[2017-12-11 02:37] #93 closed

[2017-12-11 02:37] DannyVancura commented on #99
Cocoapods/Git related issue.

[2017-12-11 02:37] #99 closed

[2017-12-11 02:38] #110 closed

[2017-12-11 03:09] DannyVancura commented on #113
Thanks for filing this bug! I created [#129](https://github.com/prolificinteractive/Caishen/pull/129) for this, which should resolve the issue.

[2017-12-28 11:39] ImranIB opened #130 "Editing begin in Caishen text field"
Hello

I have a form contains multiple fields including Caishen text fields. I want to move up the form on editing did begin but it never work for Caishen. Any help.

[2018-01-04 06:49] iajmeri43 opened #131 "How to configure this pod for Xcode 8.3.3 project?"
Right now, I am getting following issues in Xcode 8.3.3 after pod installation?

![screen shot 2018-01-04 at 12 16 24 pm](https://user-images.githubusercontent.com/20102573/34552747-5916b12e-f149-11e7-80d7-ebdf2ce916b3.png)

[2018-01-04 06:59] #131 closed

[2018-01-04 07:01] iajmeri43 commented on #131
pod 'Caishen', '2.0.1'

thanks.. above works for me on Xcode 8.3.3...

[2018-01-15 19:10] YKV opened #132 "the placeholder is not visible"
By Adding rounded corners to text field makes placeholder text invisible.
Thanks

[2018-01-18 18:53] YKV opened #133 "textFieldDidBeginEditing doesn't exist"
I thin it should implement delegate method of UITextField as well.

[2018-01-23 22:29] hkellaway opened #135 "Valid Discover card displayed as invalid"
Using valid Discover card test number: `6229 2567 3724 8989`

Caishen UI displays as invalid. Simply asking Caishen to do a Luhn check on it, passes though 🤔

[2018-01-29 07:39] ImranIB commented on #130
Tried different things but unable to perform delegate on textfield begin editing. Any help?

[2018-01-29 21:53] hkellaway commented on #135
Turns out this is a UnionPay number

[2018-02-27 15:31] korovyev opened #136 "Caishen causing crash"
It seems something is keeping a strong reference to CardTextField and is not releasing it

It then still seems to be registered for some internal notification that tries to access its superview, which it might not have at that point, causing crash. (In our case this is caused by a call to .setContentOffset(.. on a collectionView)

Heres the call stack
![screen shot 2018-02-27 at 14 41 48](https://

[2018-03-07 18:49] hkellaway opened #137 "Support new BIN ranges for MasterCard"
MasterCard just introduced new BIN ranges. Caishen should be able to recognize new ranges as a MasterCard

https://www.cardfellow.com/new-mastercard-bins/

[2018-03-07 19:06] hkellaway commented on #137
MasterCard page out it: https://www.mastercard.us/en-us/issuers/get-support/2-series-bin-expansion.html

[2018-03-07 19:07] hkellaway commented on #137
example numbers that should be recognized as MasterCard:
2221-1111-1111-1112
2221-1112-2222-2204

[2018-03-07 19:26] DannyVancura commented on #137
@hkellaway is [this](https://github.com/prolificinteractive/Caishen/pull/134) related? if so, this has been released with [version 2.1.1](https://github.com/prolificinteractive/Caishen/releases/tag/2.1.1).

[2018-03-07 19:57] #137 closed

[2018-03-08 16:33] hkellaway commented on #135
@DannyVancura - @quentin41500 is using the Android Braintree SDK which verifies this as a Discover card. as of typing in the first two numbers `62`, Braintree says its China UnionPay; however, as of typing the first 3 numbers `622`, it picks it up as Discover

[2018-03-08 16:38] hkellaway commented on #135
looking up Discover BIN ranges, indeed the provided number would be a Discover card - i.e. `622925`

Discover Card
6011
622126-622925
644-649
65

https://blog.groundlabs.com/cardholder-data-discovery-anatomy-of-a-credit-card-bin-ranges-luhn-checks

[2018-03-08 19:45] #135 closed

[2018-03-27 11:01] rajkumar0143 opened #139 "I got error while runtime, I don't know exactly"
![screen shot 2018-03-27 at 4 30 54 pm](https://user-images.githubusercontent.com/35296341/37963573-5208f0d0-31dc-11e8-9ecd-b7799e94e2aa.png)

[2018-04-16 19:48] quentin41500 opened #142 "Readme Example GIF not working"
On the README, seems like the gif is not working anymore:

Issue:
- ![Caishen example](caishen_example.gif)

Expected:
- Display the actual gif.

[2018-05-18 22:55] veer-suthar opened #143 "CVCInputTextField makes Field Disables"
As I set CVCInputTextField as parent of UITextField, it becomes disable, & stops taking input.

Error I can find in Log is

Can't find keyplane that supports type 4 for keyboard iPhone-PortraitChoco-NumberPad; using 4072550144015629828_PortraitChoco_iPhone-Simple-Pad_Default

[2018-07-03 11:36] piyushvaish commented on #132
Is there any update on this issue ?

[2018-07-04 17:46] quentin41500 commented on #132
Hey @DannyVancura, did you manage to reproduce that issue?

[2018-07-06 10:04] MalcolmScoffable opened #144 "Variable length validation for cards"
Hi there,
I'm currently integrating this library into my app, and it's working really well so far. However, one potential issue that I've got is that I do not see any way of handling variable length card numbers (i.e., the VISA spec states that VISA card numbers can be between 13 - 19 digits, however the standard Caishen validation assumes 16 for VISA).

I was wondering if anyone is aware if there

[2018-07-23 14:40] kapildevgj commented on #132
Instead of roundRect

numberTextField.placeholder = "Card Number"
numberTextField.layer.borderWidth = 0.75
numberTextField.layer.borderColor = UIColor.lightGray.cgColor
numberTextField.layer.cornerRadius = 3.0
numberTextField.clipsToBounds = true
numberTextField.backgroundColor = .white

[2018-08-12 19:15] veer-suthar opened #146 "Does it support if User has format mm/yy in single Field?"
I have to enter Month and Year into single field using validation of Caishen -
mm/yy
Does library support it?

[2019-01-04 20:18] weip2008 commented on #127
It is still not work until today

[2019-04-03 21:44] hkellaway opened #150 "Swift 5 update"

[2019-04-03 22:02] hkellaway commented on #150
i have a branch named `swift5` working here: https://github.com/prolificinteractive/Caishen/tree/swift5

current issue is the Gemfile relies on CocoaPods version `1.7.0.beta.3` - should wait until `1.7.0` is stable then update the Gemfile

[2019-04-04 09:46] classic-chris opened #151 "Memory Leak and Crash"
If the user taps the CardTextField and then pops back from the view controller the expectation is that the CardTextField will be removed from memory because the view controller (or storyboard) should have held the only strong reference to the text field.

Instead the CardTextField remains in memory because a strong reference is retained by the UIKeyboardImpl.

<img width="826" alt="retained_textfi

[2019-04-04 09:57] classic-chris commented on #151
Pull request opened [here](https://github.com/prolificinteractive/Caishen/pull/152) addressing this issue.

[2019-05-14 12:51] emranovin commented on #127
could you do it finally? I don't know why I can do it in Safari simply but I couldn't implement it in my app

[2019-06-22 04:28] HardikDG opened #153 "Allow only future year"
Is there any option which will only allow future or current year as valid Expiry year?

If card is expired it will not used for for operations, so it should have check for that as well

[2019-06-22 11:54] #153 closed, assigned to nobody

[2019-06-22 13:59] HardikDG commented on #146
Does it support this feature in the latest version?
I have Card number, CVV, MM/YY as 3 different input
But I have MM and YY in the single input

[2019-10-12 08:32] ghost opened #154 "The last four digits of the credit card are not shown in the text field when prefill is used"
If I enter a valid credit card number, the text scrolls to the left to allow me to enter the CVC and the expiry date. In this instance, the last four digits of the credit card are shown on the left.
![Screenshot 2019-10-12 at 1 56 59 PM](https://user-images.githubusercontent.com/51108351/66698041-44185280-ecf8-11e9-8e13-ed313ea205f6.png)

However, if the prefill method is used, the last four digit

[2019-11-13 08:14] HardikDG commented on #144
any update on this?
I have a card with 19 digits but it is only taking till 16

[2019-12-06 13:51] Vasia89 commented on #144
I have added some possibility to use variable card length. You could check it in my [repo](https://github.com/Vasia89/Caishen/tree/variable_card_length).
I did not use UI features from Caishen, so it could have some problems. But card validation and formatting should works.

[2020-03-14 05:13] HardikDG commented on #150
Any update on Swift 5 support for this library?

[2020-03-14 12:19] hkellaway commented on #150
I’ll not personally be finishing this PR. The owning org (prolificinteractive) was acquired; the acquirer may or may not have a maintenance strategy, I don’t know myself.

If needed in the immediate, I’d create a fork

[2021-01-11 17:27] bricepollock opened #156 "CardIO is archived, move away from CardIO in docs"
CardIO is archived project. It cannot be relied upon. To remain relevant, Caishen should drop support and supply other approach in docs not using it.

https://github.com/card-io/card.io-iOS-SDK

[2021-02-01 16:12] Bathant commented on #132
when adding backgroundColor the placeholder disappear

[2021-08-22 18:31] #150 closed, assigned to nobody

[2021-08-22 18:31] #124 closed

[2021-12-01 09:00] modusamediaa opened #157 "Test1"

[2021-12-01 09:00] #157 closed, assigned to nobody

[2022-02-01 16:18] gomera commented on #40
@hkellaway any plans on adding spm support now?

[2022-02-01 17:31] hkellaway commented on #40
@gomera not specifically. the agency that created this project was acquired in 2019 and development on open source stopped. i'd suggest forking it and adding SPM support